.header {
  display: flex;
  justify-content: space-evenly;
  background: black;
  height: 80px;
  align-items: center;
}

.header > a {
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
  color: snow;
}
